  /* 
  side menu start 
  */

  .side_menu_area{position:relative;width:290px;min-width:290px; 
    height: 100vh; min-height: 100vh;
    background-color: #fff;z-index:10;padding:20px 12px;border:4px solid var(--main-color);border-radius:30px;}
  .side_inner{display:flex; flex-direction: column; height: 100%;}
  .main_container{position:relative;width:100%;height:100vh;min-height:100vh;padding:20px; background-color: #fff;}
  #side_close_area{position:absolute;top:20px;right:-10px;z-index:100;}
  .side_close{background:var(--main-color);color:#fff;width:32px;height:32px;border-radius:30px;border:2px solid #fff;}
  .side_close:after{position:absolute;left: 50%;top: 50%;margin-left:-3px;margin-top:-6px;content: '';width: 10px;height: 10px;border-top: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(225deg);transition: transform 0.3s linear;}
  .side_close.open:after{margin-left:-8px;margin-top:-6px;transform: rotate(47deg);transition: transform 0.3s linear;}
  .main_container_inner{min-width:1180px;}
  .text_align_right{text-align:right;}
  .side_menu_img{position:relative;width:100%;height:100%;}
  .side_menu_img:after{content:'';position:absolute;top:0;left:0;display:inline-block;background:url(../img/side_menu.png) no-repeat;background-size:100%;width:290px;height:100%;}

  .wrap_flex{display: flex;}
  #wrapper{overflow-x:hidden;}
  #sidebar-wrapper{ margin-left: -270px; transition: margin 0.25s ease-out; }
  #page-content-wrapper {/*min-width: 100vw;*/}
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {margin-left: 0;}

  @media (min-width: 10px) {
  #sidebar-wrapper {margin-left: 0;}
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {margin-left: -270px;}
  }


  .side_logo_area{width:188px; flex:1 33px}
  .side_logo_area img{width:100%;}
  .side_inner > .side_logo_area {}
  .side_inner > .side_logo_area img {width:100%; max-width:189px;}
  .side_inner > .menu_select {border-bottom: 1px dashed #7f7f7f; padding:0 10px; flex:1 50px}
  .menu_select_style {border: 2px solid var(--main-color); width:100%; font-weight: 900; line-height: 36px; height: 36px; font-size: 15px; cursor: pointer;}
  
  .menu_list_area{overflow-y: auto; height:auto; overflow-x: hidden; flex:1 698px}
  .menu_list_area > ul{ display: flex; flex-direction: column; flex-grow: 1; }
  .menu_list_area > ul > li{margin:3px 0;}
  .menu_list_area > ul > li > button{height: 50px; line-height: 50px; color:#000; width:100%; text-align: left; border: 0px; background-color: #fff; display: flex; font-size: 16px; font-weight: 600; padding:0 10px }

  .menu_list_area > ul > li > button a{max-width:210px; width:100%; display: inline-block; color:#000; text-decoration: none;}

  .menu_list_area > ul > li > button::before{
    content:url('../image/ic_smenu.png');
    margin-right:12px

  }
  .menu_list_area > ul > li > .drop_menu::after{
    content:url('../image/ic_arrow_down.png');
    transition:all 0.2s ease-in
  }

  .menu_list_area > ul > li{background-color: var(--TtitleBg-color); border-radius: 8px;}
  
  .menu_list_area > ul > li button:hover{background-color: var(--TtitleBg-color); border-radius: 8px;}

  .drop_menu{}
  .drop_menu:not(.collapsed), .drop_menu.active {
    background-color: var(--TtitleBg-color); border-top-right-radius: 8px; border-top-left-radius: 8px; 
}
  .drop_menu:not(.collapsed) > a, .drop_menu.active > a {
color: var(--main-color); font-weight: 900;
}

  .drop_menu:not(.collapsed)::after, .drop_menu.active::after {
      transform: rotate(-180deg);
  }
  .drop_menu + ul > li{padding:0 10px;}
  .drop_menu + ul > li > a{display: inline-block; width:100%; height:40px; line-height: 40px; padding-left: 8px; color:#000}

  .drop_menu + ul > li > a::before{
    content: url('../image/sub_list_icon_off.png');
    margin-right:10px;

  }
  
  
  .drop_menu + ul > li:hover  { }
  .drop_menu + ul > li:hover > a, .drop_menu + ul > li > a.active { width:100%; color: #fff; text-decoration: none; background-color: var(--main-color); display: inline-block; border-radius: 8px; }

  .drop_menu + ul > li:hover > a::before, .drop_menu + ul > li > a.active::before {
    content: url('../image/sub_list_icon_on.png');
   }


   .side_bottom{ border-top:1px dashed #7f7f7f; padding-top:10px;width:258px; flex:1 60px; margin-top:20px}
   .side_bottom .bot_flex{display: flex;  justify-content: space-around; align-items: center;}

   .thumb{width: 50px; height: 50px; background-color: #fff; border-radius: 50%; border:2px solid var(--main-color); display: flex; align-items: center; justify-content:center; font-size: 20px; color:var(--main-color); font-weight: bold; position: relative; }
 
   .thumb_sett{width:20px; height: 20px; position: absolute; bottom:-5px; right:-5px; background-color: var(--main-color); display: flex; padding: 4px; border-radius: 50%;}
   .thumb_sett img{width: 100%;}

   .bot_flex .name_text h4{font-size: 16px; font-weight: bold; color:var(--Fmain-color);}
   .bot_flex .name_text h4 small{font-size: 15px; margin-left: 7px; font-weight: normal;}

   .bot_flex .login_st .login_time::before {content: url('../image/ic_clock.png'); margin-right:4px} 
   .bot_flex .login_st .login_time {color:var(--main-color); font-weight: bold; display: inline-flex; align-items: center;} 
   .bot_flex .btn_login_style { position: relative; font-family: 'Noto Sans KR', sans-serif; font-size: 12px; color: #ffffff; background: var(--Bnor-color); line-height: 22px; border-radius: 4px; border: 0; padding: 0 7px; }
  /*
   side menu end 
   */


   
   /* 상황판 네게이션 start */
   .situ_board{display: flex; align-items: center; flex-wrap: nowrap; padding:5px 10px; border:1px solid #c0c4d7; background-color: var(--TtitleBg-color);}
   .situ_board > .situ_select{flex:1 150px;}
   .situ_box{background-color: #fff; border: 1px solid #c0c4d7; width:130px; height: 30px; line-height: 30px; display: flex; justify-content: space-around; padding:0 3px; align-items: center; margin:2px 0; border-radius: 5px;}
   .situ_box p span{color:var(--Fwarning-color);}

   /* 상황판 네게이션 end */


.red{color:var(--Fwarning-color)}

.input-btn-row { display: flex; align-items: center; flex-wrap: nowrap; }
.input-btn-row li:first-child {flex:2; margin-right: 4px; }
.input-btn-row li:last-child { flex:1; }


/* 아이콘 */
.btn_style_normal{display: inline-flex; }
.ic_img{width: 14px;}
.ic_reset::before{content:url('../image/rotate-right-solid.png'); display: inline-block;}
.ic_manual{padding-left:28px;}
.ic_manual:after{content:'';position:absolute;left:10px;top:50%;margin-top:-7px;width:14px;height:14px;background:url(../image/book-solid.png) no-repeat;background-size:100%;}



