
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<script type="text/javascript">
self.location.href = '<c:url value="/main/user.do" />' ;
</script>
</head>
<body>
</body>
</html>

<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
<title>질병관리청 질병보건통합관리시스템</title>


<c:set var="bHost" value="<%=bHost%>" />                <%-- // 인터넷 망 | 업무망 구분을 위해 --%>
<c:set var="isMobile" value="<%=isMobile%>" />          <%-- // 모바일 체크 --%>

<%-- 공동인증서 Start --%>
<c:if test="${ isMobile eq false }">
<script type="text/javascript">
	document.write("<script type=\"text/javascript\" src=\"" + "/isc/AnySign/anySign4PCInterface.js\"></scr"+"ipt>");
</script>
</c:if>
<%-- 공동인증서 End --%>
<%-- Non-ActiveX 인증서 모듈 관련 : Start --%>
<script type="text/javascript">

	$(function(){
	    var $chatOpen = $('#chatbot');
	    var $chatWindow = $('.chat-bot-window');
	    var $chatClose = $('.chat-close');
			
	    $chatOpen.add($chatClose).on('click', function(){
	        $chatWindow.toggleClass("active");
	        $("#ifmChatBot").attr('src', "https://v2.coginsight.net/secure/service/#/64f618a1-4845-4214-8a0a-93ea15f7fb7b?");
	    });
	        
	    $("#btnCovid19Login").on('click', function(){
	    	window.open("https://covid19.kdca.go.kr/");
	        return false;
	    });
	});
	
	
	<%-- 공동인증서  --%>
	function fnPkiCall( sCheck ) {
	    var sHtml = "<center><iframe id='ifrmMessage' style='width: 320px; height: 200px; position: absolute;z-index: 3;visibility: visible;' frameborder='0' src='/isc/static/images/loading2.gif'></iframe></center>";
	    var divProgress = document.getElementById( "divProgress" ) ;
	    divProgress.innerHTML = sHtml ;
	       
	    PrintObjectTag( true ) ;
	    
	    if ( sCheck == "pUp" ) {
	        AnySign4PC_installCheck( installCheck_U ) ;  <%-- // 인증서 등록, 변경  --%>
	    } else {
	        AnySign4PC_installCheck( installCheck_L ) ;   <%-- // 로그인 (인증서 설치여부를 체크) --%>
	    }
	}
	
	<%-- 공동인증서 로그인  : 설치 체크 : 인증서 로그인 --%>
	function installCheck_L(aResult) {
	    var divProgress = document.getElementById( "divProgress" ) ;
	    divProgress.innerHTML = "" ;
	    if ( aResult == "ANYSIGN4PC_NEED_INSTALL" ) {
	        if ( confirm( "인증서 로그인 기능을 이용하시려면 전자서명 프로그램 설치가\n필요합니다.(설치를 원하지 않을 경우 인증서 로그인 기능을\n이용하실 수 없습니다.)\n\n설치하시겠습니까?" ) ) {
	            location.href = '<%=sAnySign%>' ;
	        }
	    } else {
	        Sign_with_option(0, "Login", SignDataL );
	    }
	}
	<%-- 공동인증서 로그인  : 설치 체크 : 인증서 등록, 변경 --%>
	function installCheck_U(aResult) {
	
	    var divProgress = document.getElementById( "divProgress" ) ;
	    divProgress.innerHTML = "" ;
	    if ( aResult == "ANYSIGN4PC_NEED_INSTALL" ) {
	        if ( confirm( "인증서 로그인 기능을 이용하시려면 전자서명 프로그램 설치가\n필요합니다.(설치를 원하지 않을 경우 인증서 로그인 기능을\n이용하실 수 없습니다.)\n\n설치하시겠습니까?" ) ) {
	            location.href = '<%=sAnySign%>' ;
	        }
	    } else {
	        pkiUpdatePop('1') ;      <%-- //Sign_with_option(0, "Login", SignDataL );        // 인증서 등록 갱신은 해당 팝업창을 호출하는 함수를 호출하자.... --%>
	    }
	}
	
	<%-- 공동인증서 로그인  : 체크 값 확인 / 인증서 콜백함수 : Login --%>
	function SignDataL(aResult) {
	    //PutBannerUrl(); //배너 이미지 변경
	    var f = document.frm ;
	    //f.signed_msg.value = aResult ;
	    f.signed_msg.value = "ANYSIGN_OK";
	    f.target = "hiddenframe";
		
	    if ($("#system").val() == "isc") {
			f.emplyrKey.value = $("#iscKey").val();
		} else if ($("#system").val() == "nqua") {
			f.emplyrKey.value = $("#nquaKey").val();
		} else if ($("#system").val() == "konis") {
			f.emplyrKey.value = $("#konisKey").val();
		} else if ($("#system").val() == "survey") {			
			f.emplyrKey.value = $("#surveyKey").val();
		}
	    
		//f.emplyrKey.value = $("#key").val();
	    //f.password.value = $("#value").val();
	    
	    if ( f.signed_msg.value.length > 0 ) {
	    	f.action = '<c:url value="/loginP.do" />' ;       <%-- // 인증서 로그인  --%>
	    	<%-- f.action = '<c:url value="/loginAPP.do" />' ; --%>      <%-- // AnyPIN Login  --%>
	        f.submit();
	    } else {
	        f.signed_msg.value = "" ;    
	        alert ( "인증서 확인을 하지 못했습니다.\n다시 인증서 로그인을 해주시기 바랍니다." ) ;
	    }
	    f.target = "_self";
	}
	
	<%-- 공동인증서 프로세스 변경 : 2014.12.23 --%>
	function pkiUpdatePop( type ) {
	<c:choose>
	<c:when test="${bHost eq true}">
	    doDblCheck2();
	</c:when>
	<c:otherwise>
	    alert( "공동인증서 등록ㆍ변경은 휴대폰 확인 절차 관계로\n인터넷망(http://is.kdca.go.kr/)에서만 가능합니다.") ;
	    return;
	</c:otherwise>
	</c:choose>
	}
	</script>
	<%-- Non-ActiveX 인증서 모듈 관련 : End --%>
	<script type="text/javascript">
	//<![CDATA[
	<%-- cookie Check --%>
	function f_notice_getcookie( popName ) {
	    var nameOfcookie = popName + "=" ;
	    var x = 0 ;
	    while ( x <= document.cookie.length ) {
	        var y = ( x + nameOfcookie.length ) ;
	        if ( document.cookie.substring( x , y ) == nameOfcookie ) {
	            if ( ( endOfcookie = document.cookie.indexOf( ";" , y ) ) == -1 ) {
	                endOfcookie = document.cookie.length;
	            }
	            return unescape( document.cookie.substring( y, endOfcookie ) );
	        }
	        x = document.cookie.indexOf( " ", x ) + 1 ;
	        if ( x == 0 ) {
	            break ;
	        }
	    }
	    return "" ;
	}
	<%-- cookie Check --%>
	function getCookie( name ) { 
	    var nameOfCookie = name + "=" ;
	    var x = 0 ;
	    
	    while ( x < document.cookie.length ) {
	        var y = ( x + nameOfCookie.length ) ;
	        if ( document.cookie.substring( x , y ) == nameOfCookie ) {
	            if ( ( endOfCookie = document.cookie.indexOf( ";" , y ) ) == -1 ) {
	                endOfCookie = document.cookie.length ;
	            }
	            return unescape( document.cookie.substring( y, endOfCookie ) ) ;
	        } 
	        x = document.cookie.indexOf( " " , x ) + 1 ; 
	        if ( x == 0 ) {
	            break ;
	        }
	    } 
	    return ""; 
	}
	<%-- Popup  Center Open (변형) --%>
	function centeredOpen1 ( w , h , wname , url , param , idx ) {
	    var sh = screen.height - 22 ;
	    var sw = screen.width ;
	    var x  = ( sw - w ) / 2 ;
	    var y  = ( sh - h ) / 2 ;
	    var params = param=="" ? "" : "?" + param ;
	    if ( idx == 1 ) {
	        window.open ( url + params , wname , "width=" + w + " height=" + h + " left=" + x + " top=" + y + " scrollbars=yes menubar=no location=no" ) ;      // Scroll Yes
	    } else {
	        window.open ( url + params , wname , "width=" + w + " height=" + h + " left=" + x + " top=" + y + " scrollbars=no menubar=no location=no" ) ;       // Scroll No
	    }
	}
	<%-- 상단 오픈 --%>
	function mainPopupOpen( index ) { 
	    if ( index == 1 ) {                            <%--  기관등록절차안내 --%>
	        centeredOpen1( "520" , "705" , "Popup_insttinfo" , "" , "" , "2" ) ;
	        var f = document.getElementById( "frm" ) ;
	        f.action = '<c:url value="/eventPopup/popupInsttinfoN.html" />' ;
	        f.target = "Popup_insttinfo" ;
	        f.submit() ;
	        f.target = "_self" ;
	    } else if ( index == 2 ) {                     <%--  디지털원패스 이용안내 --%>
	    	centeredOpen_scroll ( 660 , 800 , "isOnepass" , '<c:url value="/static/onepass/onepass.html" />' , "" ) ;
	    } else if ( index == 6 ) {     // 1339
	    <c:choose>
	    <c:when test="${bHost eq true}">
	        window.open( "http://www.cdc.go.kr/menu.es?mid=a20701000000" ) ;
	    </c:when>
	    <c:otherwise>
	        alert( "질병관리본부 콜센터는 인터넷망(http://is.kdca.go.kr/)에서 접속됩니다." ) ;
	        return;
	    </c:otherwise>
	    </c:choose>
	    } else if ( index == 7 ) {     // 129
	    <c:choose>
	    <c:when test="${bHost eq true}">
	        window.open( "http://www.129.go.kr/" ) ;
	    </c:when>
	    <c:otherwise>
	        alert( "힘겨울땐 129는 인터넷망(http://is.kdca.go.kr/)에서 접속됩니다." ) ;
	        return;
	    </c:otherwise>
	    </c:choose>
	    }
	}
	
	function onepass(){
	<c:choose>
	<c:when test="${bHost eq true}">
		var f = document.frm ;
		centeredOpen_scroll( 600 , 700 , "onepass" , '' , "" ) ;
	    f.action = '<c:url value="/memCommon.do?cmd=onepassLogin" />';
	    f.target = "onepass";
	    f.submit();
	    f.target = "_self";
	</c:when>
	<c:otherwise>
	        alert( "사용자 가입신청은 인터넷망(http://is.kdca.go.kr/)에서만 가능합니다.") ;
	        return;
	</c:otherwise>
	</c:choose>
	}
	<%-- 디지털원패스 로그인  --%>
	function onClickSubmit() {
	<% if ( sHost.indexOf( "/is.kdca.go.kr" ) <= 0 ) { %>
	    alert( "디지털원패스 로그인은 http://is.kdca.go.kr/ 도메인에서만 가능합니다.") ;
	    return;
	<% } else { %>
		var form = document.request;
		var user_id = form.user_id.value;
		
		if ( user_id == null || user_id == "" ) {
			alert("아이디를 입력해주세요.");
			form.user_id.focus();
			return;
		}
		
		centeredOpen_scroll( 600 , 700 , "onepass" , '' , "" ) ;
		form.target = "onepass";
		form.submit();
	<% }%>
	}
	<%-- 사용자 가입  --%>
	function doTerms(){
	<c:choose>
	<c:when test="${bHost eq true}">
	centeredOpen( 1100 , 920 , "regUser" , '' , "" ) ;
	    var frm = document.getElementById( "frm" ) ;
	    frm.action = '<c:url value="/userRegistry01.do" />' ;
	    frm.target = "regUser" ;
	    frm.submit() ;
	    frm.target = "_self" ;
	</c:when>
	<c:otherwise>
	    alert( "사용자 가입신청은 인터넷망(http://is.kdca.go.kr/)에서만 가능합니다.") ;
	    return;
	</c:otherwise>
	</c:choose>
	}
	<%--  개인정보처리방침 --%>
	function privatePopup(){
	    var sh  = screen.height ;
	    var sw  = screen.width ;
	    var x   = (sw-800) / 2 ;
	    var y   = (sh-800) / 2 ;
	    var sty = "left=" + x + ", " + "top=" + y + ", " + "width=800, height=800, scrollbars=yes";    
		window.open("<%=ctxpath %>/eventPopup/private.htm", "개인정보처리방침", sty);
	}
	<%-- 공동인증서 갱신,변경 시 본인인증 화면으로 보낸다. --%>
	function doDblCheck2() {
	    var f = document.getElementById( "mobileFrm" ) ;
	    f.emplyrnm.value = null ;
	    f.action = '<c:url value="/certify/mobile_confirmN.do" />' ;
	    f.htp.value      = window.location ;
	    f.target         = "iframeMM" ;
	    f.submit();
	    f.target = "_self";
	}
	<%-- 공동인증서 갱신,변경 시 --%>
	function doDblCheck(hp){
	    var f = document.getElementById( "mobileFrm" ) ;
	    f.target="iframeMM";
	    f.action='<c:url value="/doubleCheckMobile.do" />';
	    f.submit();
	    f.target = "_self";
	}
	<%-- //공동인증서 뛰우기 --%>
	function doDblCheckOk(){
	    Sign_with_option(0, "Login", SignDataR );
	}
	<%-- // --%>
	function SignDataR(aResult){
	    <%-- //PutBannerUrl(); //배너 이미지 변경 --%>
	    var f = document.frm ;
	    f.signed_msg.value = aResult ;
	    
	    if ( f.signed_msg.value.length > 0 ) {
	        f.action='<c:url value="/certOK.do" />';
	        f.target = "iframeMM";
	        f.submit();
	        f.target = "_self";
	    } else {
	        f.signed_msg.value = "" ;    
	        alert ( "인증서 확인을 하지 못했습니다.\n다시 인증서를 확인 해주시기 바랍니다." ) ;
	    }
	}
	
	function fn_setSystem(value) {
		$("#iscSystem").css("display", "none");
		$("#nquaSystem").css("display", "none");
		$("#konisSystem").css("display", "none");
		$("#surveySystem").css("display", "none");
		
		if (value == "isc") {
			$("#iscSystem").css("display", "");
		} else if (value == "nqua") {
			$("#nquaSystem").css("display", "");
		} else if (value == "konis") {
			$("#konisSystem").css("display", "");
		} else if (value == "survey") {			
			$("#surveySystem").css("display", "");
		}
	}

//]]>
</script>
</head>
<body>

<style>
    .chat-bot-banner{margin: 2rem;border-radius: 2rem;}
    .chat-open{padding:1.5rem 2rem;border: 1px solid #ccc;}
    
    /* 챗봇레이어 */
    .chat-bot-window {background-color:white;display:none;}
    .chat-bot-window iframe{border: 0; width: 100%; height:100%}
    .chat-bot-window .chat-close{position: absolute;top: 0;right: 0;width: 3rem;height: 3rem;background-color: #ffffff;color: #000000;}
    .chat-bot-window .chat-close::before,
    .chat-bot-window .chat-close::after{content: ''; display:block;width: 18px; height: 2px; background-color: #000000; position: absolute;}
    .chat-bot-window .chat-close::before{transform:rotate(45deg)}
    .chat-bot-window .chat-close::after{transform:rotate(-45deg)}
    .chat-bot-window{position: absolute;right: 0;top: 0; width: 40%;height: 100vh; min-width:35rem;opacity:0;visibility:hidden;transform:translateX(100%);transition:.35s ease; box-shadow:-10px 0 10px rgba(0,0,0,.1);}        
    .chat-bot-window.active{opacity:1;visibility:visible;transform:translate(0%);display:block;}

    /* 챗봇레이어 모바일*/
    @media (max-width:767px){
        .chat-bot-window{width: 100%;}   
    }
</style>
<c:if test="${ bHost eq true }">
<div class="chat-bot-window" style="z-index:999;">
    <iframe name="ifmChatBot" id="ifmChatBot" src="blank.html" width="100%"></iframe>
    <button type="button" class="chat-close"></button>
</div>
</c:if>

<form name="frm" id="frm" method="post" target="_self">
<input type="hidden" name="plain"       id="plain"       value="원문 메시지....." />
<input type="hidden" name="signed_msg"  id="signed_msg"  value="서명된 메시지..." />
<input type="hidden" name="randomKey"  id="randomKey"  value="" />
<input type="hidden" id="emplyrKey" name="emplyrKey" />
<input type="hidden" id="password" name="password" />
</form>


<div id="wrap">
	<header id="header" style="padding-right:0;">
<c:choose>
<c:when test="${bHost eq true}">
<h2 id="logo"><a href="/" target="_top"><img src="/isc/static/images/login/logo_web.png" alt="질병관리본부 질병보건통합관리시스템"></a>
</c:when>
<c:otherwise>
<h2 id="logo"><a href="/" target="_top"><img src="/isc/static/images/login/logo_work.png" alt="질병관리본부 질병보건통합관리시스템"></a>
</c:otherwise>
</c:choose>
<a href="" id="notices"><img src="<c:url value="/popup/popup-Btn_main.png" />" alt="질병관리본부 질병보건통합관리시스템 공지" align=right></a>
        </h2>
    </header>

    <main id="main">
        <div id="contents">
            <div class="section section1<c:if test="${ bHost ne true }"> type1</c:if>">
<c:if test="${ isMobile ne true }">
                <article class="group group1">
					<div id="divProgress" sytle="width: 300px; position: absolute;"></div>
                    <h2 class="title">로그인</h2>
                    <p>아이디/패스워드 로그인으로 질병보건통합관리시스템을 이용하실 수 있습니다.</p>
					<br/>

					<div class="board_info">
					    <div class="form">
					         <p class="item">
					            <span class="form_select">
										<select id="system" name="system" class="input01" style="width:340px;" onchange="fn_setSystem(this.value);">
											<option value="nqua">검역정보시스템</option>
											<option value="konis">전국의료관련감염감시체계</option>
											<option value="survey">감염관리실태조사시스템</option>
											<option value="isc">공통시스템</option>
					                    </select>
					            </span>
					        </p>
						</div>
					</div>
					<div id="iscSystem" class="board_info" style="display:none;">
					    <div class="form">
					         <p class="item">
					            <span class="form_select">
										<select id="iscKey" name="iscKey" class="input01" style="width:340px;">
											<option value="20210630130207350">시스템관리자 - GhostBank</option>
					                    </select>
					            </span>
					        </p>
						</div>
					</div>
					<div id="nquaSystem" class="board_info">
					    <div class="form">
					         <p class="item">
					            <span class="form_select">
										<select id="nquaKey" name="nquaKey" class="input01" style="width:340px;">
											<option value="20120719154727122" selected="selected">1.검역운영자</option> 
											<option value="20130622140225305">2.질병청사용자</option> 
											<option value="TYQ0500024">3.권역센터</option> 
											<option value="">------------------------</option>			
											<option value="20150520170853866">4.선박-국립부산검역소</option>
											<option value="20121218084245430">4.선박-국립마산검역소</option>
											<option value="20120628094747553">4.S,A-인천검역소</option>
											<option value="ICQ0500015">4.S,A-평택검역소</option>
											<option value="20110506161439437">4.L,S,A-동해검역소</option>
											<option value="">------------------------</option>			
											<option value="20120724131356325">5.항공-인천공항검역소</option>
											<option value="20130909135122018">5.A,L-인천공항검역소</option>
											<option value="">------------------------</option>			
											<option value="20141013114141734">6.육로-인천공항검역소</option>
											<option value="">------------------------</option>			
											<option value="20120404114525429">7-1.선사/대리점</option>
											<option value="20190214142422022">7-2.항공사</option>
											<option value="20120305093814492">8.기타기관(해경/해군)</option>
					                    </select>
					            </span>
					        </p>
						</div>
					</div>
					<div id="konisSystem" class="board_info" style="display:none;">
					    <div class="form">
					         <p class="item">
					            <span class="form_select">
										<select id="konisKey" name="konisKey" class="input01" style="width:340px;">
											<option value="20120919141641462">질병청 - Konis Admin</option>
											<option value="">------------------------</option>			
											<option value="20140106112657121">의료기관 - Konis User(ICU관리)</option>
											<option value="20130718133953161">의료기관 - Konis User(SSI관리)</option>
											<option value="20150430192513353">의료기관 - Konis User(손위생관리)</option>
											<option value="20120417145131161">의료기관 - Konis User(신생아감염관리)</option>
											<option value="">의료기관 - Konis User(CLABSI예방관리)</option>
											<option value="">의료기관 - Konis User(요로감염관리)</option>
											<option value="">------------------------</option>			
											<option value="20141105140534815">의료기관 - Konis User(ICU참여)</option>
											<option value="20150120114517653">의료기관 - Konis User(SSI참여)</option>
											<option value="20140314111307987">의료기관 - Konis User(손위생참여)</option>
											<option value="20140428210128242">의료기관 - Konis User(신생아감염참여)</option>
											<option value="20150810160729106">의료기관 - Konis User(CLABSI예방참여)</option>
											<option value="20150206114603819">의료기관 - Konis User(요로감염참여)</option>
					                    </select>
					            </span>
					        </p>
						</div>
					</div>
					<div id="surveySystem" class="board_info" style="display:none;">
					    <div class="form">
					         <p class="item">
					            <span class="form_select">
										<select id="surveyKey" name="surveyKey" class="input01" style="width:340px;">
											<option value="20120919141641462">감염관리실태조사 - 질병청(관리자)</option>
											<option value="20150813143851060">감염관리실태조사 - 시도</option>
											<option value="20150126152620226">감염관리실태조사 - 보건소</option>
											<option value="scl714">감염관리실태조사 - 위탁기관</option>
											<option value="20150120114517653">감염관리실태조사 - 참여기관(인하대병원)</option>
											<option value="20150713201439049">감염관리실태조사 - 참여기관(분당서울대병원)</option>
											<option value="20150817110932931">감염관리실태조사 - 참여기관(요양병원1)</option>
											<option value="20150811133501983">감염관리실태조사 - 참여기관(요양병원2)</option>
											<option value="20150812132445217">감염관리실태조사 - 참여기관(의원)</option>
					                    </select>
					            </span>
					        </p>
						</div>
					</div>
                	
                    <a href="javascript:SignDataL('');" class="btn btn1">로그인</a>
<c:if test="${ bHost eq true }">
                    <a href="javascript:fnPkiCall('pUp');" class="btn btn2">공동인증서 갱신·변경</a>
</c:if>

					<%--<a href="#" id="btnCovid19Login" class="btn btn5">코로나19 정보관리시스템<br>바로가기</a> --%>
                    <p class="links">
                        <a href="<%=sAnySign %>">공동인증서 S/W 설치</a>
                    </p>
                </article>
</c:if>
                <article class="group group2"<c:if test="${ isMobile eq true }"> style="width:100%"</c:if>>
                    <h2 class="title">디지털원패스 로그인</h2>
                    <p>디지털원패스 로그인으로 질병보건통합관리시스템을 
                        이용하실수 있습니다.</p>
                    
                    <p class="form">
					<%-- 
					<form id="request" name="request" method="post" action="<%=OnepassRequestHandler.LOGIN_DEST%>" autocomplete="off" onSubmit="return false;">
						<input type="hidden" name="<%=OnepassRequestHandler.LOGIN_INPUT_NAME%>" value="<%=OnepassRequestHandler.login()%>"	/>
						<input type="hidden" name="returnUrl" value="" />
						<input type="hidden" name="crtLevelCode" value="0010000" />

                        <input type="text"  id="user_id" name="user_id" class="form-textbox" title="디지털원패스 아이디" placeholder="디지털원패스 아이디" onkeydown="if(event.keyCode == 13){onClickSubmit(); return false;};">
                        <button class="btn btn3" onclick="onClickSubmit();">로그인</button>
					</form>
					 --%>
                    </p>

                    <p class="links">
                        <a href="https://www.onepass.go.kr/regist/agree" target="_blank" rel="noopener noreferrer">디지털원패스 회원가입</a>
                        <a href="javascript:mainPopupOpen(2);" >디지털원패스 이용안내</a>
                    </p>
                </article>
<c:if test="${ isMobile ne true }">
                <article class="group group3">
                    <h2 class="title">사용자 가입</h2>
                    <p>사용자 정보등록, 권한신청, 관리자의 권한승인 후
                        사용자로 가입됩니다.</p>
                    
                    <a href="javascript:doTerms();" class="btn btn4">사용자 가입</a>

                    
                </article>

                <span class="desc">디지털원패스 로그인과 <br>사용자 가입은 업무망PC에서 <br> 사용하실 수 없습니다.</span>
</c:if>
            </div>

            <section class="section section2">
                <h2 class="title">
                    <strong>HELP DESK</strong>
                    <span>(근무시간) 09:00~18:00</span> <span>(점심시간) 12:00~13:00 공휴일·토요일·일요일 휴무</span>
                </h2>
<c:if test="${ bHost eq true }">
				<a href="#faq" class="btn_layerpopup" id="chatbot">자주묻는질문(챗봇)</a>
</c:if>
                <ul class="list">
                    <li>
<c:choose>
<c:when test="${bHost eq true}">
<span><a href="https://www.kdca.go.kr/contents.es?mid=a20813020000" target="_blank" rel="noopener noreferrer">직원연락처 1339,129 <img src="/isc/static/images/login/ico_link.gif" style="margin-left:6px;"></a></span>
</c:when>
<c:otherwise>
<span>직원연락처 1339,129</span>
</c:otherwise>
</c:choose>
                        <span>희귀질환자 070-8680-3127</span>
                    </li>
                    <li>
                        <span>예방접종 043-719-8397~8399</span>
<c:choose>
<c:when test="${bHost eq true}">
<span><a href="https://www.onepass.go.kr" target="_blank" rel="noopener noreferrer">디지털원패스 02-374-0980~1 <img src="/isc/static/images/login/ico_link.gif" style="margin-left:6px;"></a></span>
</c:when>
<c:otherwise>
<span>디지털원패스 02-374-0980~1 </span>
</c:otherwise>
</c:choose>
                        
                    </li>
                    <li>
                        <span>결핵관리 043-719-7320</span>
                        <span>사용자가입  1644-1407</span>
                    </li>
                    <li>
                        <span>감염병관리 1522-6339</span>
                        <span>공동인증서 로그인  1644-1407</span>
                    </li>
                    <li><span>고혈압·당뇨 1522-6339</span></li>
                </ul>
            </section>
        </div>
    </main>

    <footer id="footer">
        <div id="fnb">
<c:choose>
<c:when test="${bHost eq true}">
<a href="http://www.kdca.go.kr/contents.es?mid=a20810030000" target="_blank" rel="noopener noreferrer" class="btn">개인정보처리방침</a>
</c:when>
<c:otherwise>
<script>
function in_msg(){
	alert("개인정보처리방침은 질병관리본부 대표홈페이지(www.kdca.go.kr)의 '기관소개 > 홈페이지 이용안내' 메뉴에서 확인하실 수 있습니다.");
}
</script>
<a href="javascript:in_msg();" class="btn">개인정보처리방침</a>
</c:otherwise>
</c:choose>
        </div>

        <p id="copyright">Copyright(c) 질병보건통합관리시스템 ALL Rights Reserved.</p>
    </footer>
</div>    


<iframe id="iframeMM" name="iframeMM" style="width:0px; height:0px; top: 0px; left:0px; position: absolute; visibility:hidden;"></iframe><%-- 휴대폰 인증  --%>
<iframe id="hiddenframe" name="hiddenframe" style="width:0px; height:0px; top: 0px; left:0px; position: absolute; visibility:hidden;"></iframe><%-- 공동인증서 로그인  --%>
<form name="mobileFrm" id="mobileFrm" method="post" action='<c:url value="/certify/mobile_confirmN.jsp" />'>
    <input type="hidden" name="emplyrnm" id="emplyrnm" />
    <input type="hidden" name="htp"      id="htp" />
</form>
<script>
function newUser(tk){
	centeredOpen( 1100 , 960 , "newUser" , '' , "" ) ;
	var frm = document.getElementById( "frm" ) ;
	frm.randomKey.value = tk;
	frm.action = '<c:url value="/newUserLogin.do" />';
	frm.target = "newUser";
	frm.submit();
    frm.target = "_self";
}

function newAuthor(tk){
     centeredOpen( 1100 , 960 , "regAuthorUser" , '' , "" ) ;
    var frm = document.getElementById( "frm" ) ;
    frm.randomKey.value = tk;
    frm.action = '<c:url value="/regAuthorUser.do" />' ;
    frm.target = "regAuthorUser" ;
    frm.submit() ;
    frm.target = "_self" ;
}
</script>
<%--
<script type="text/javascript">
if ( getCookie( "mainpop" ) != "E" ) {
    window.open("","mainpop","width=649, height=852, resizable=0, scrollbars=no, status=0, titlebar=0, toolbar=0, left=800, top=30");
    var f = document.getElementById( "frm" ) ;
	f.action = '<c:url value="/popup/mainpop_20210420.html" />' ;
    f.target = "mainpop" ;
    f.submit() ;
    f.target = "_self" ;
}
</script>
--%>
<c:if test="${ bHost eq true }">
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150461532-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150461532-1');
</script>
</c:if>
 </body>
</html>